serverAudio/deepspeech*
serverAudio/settings.config
serverAudio/googleCredentials/*.json
serverAudio/resources/sound_clips/latest_output.wav
clientCharacter/HoloAssistant
.DS_Store
#my python virtual env - v3.8.13
holovenv 