.contentWrapper {
  margin:  0 auto;
  max-width: 1350px;
}

.content {
  margin: var(--big-margin);
}

.content > * > *:not(.sr-only):not(.heroVideo) {
  margin-top:  var(--small-margin);
  margin-bottom: 0px;
}

.fullWidth {
  width:  100%;
}

main {
  width:  80%;
  margin: 7em auto;  
  position: relative;
  counter-reset: big-step 0;
}

h1, h2, h3 {
  font-family: 'Bungee';
  font-weight: 500;
}

h2 {
  font-size: 4.25em;
  line-height: 95%;
  color: var(--mid-blue);
}

h3 {
  font-size: 4em;
  line-height: 98%;
}

p {
  font-size: 2em;
  font-family: 'Work Sans';
}

.heroVideo {
  aspect-ratio: 16 / 9;
  width: 100%;
  background: linear-gradient(180deg, #9CC5EB 0%, rgba(156, 197, 235, 0) 100%);
  position: relative;
  margin:  2em 0;
}

.navList {
  font-family: 'Bungee';
  font-size: 3em;
  line-height: 95%;
  counter-reset: small-step 0;
  position: relative;
}

.navList span {
  counter-increment: small-step 1;
}

.navList span a {
  position: relative;
  z-index: 3;
  margin-right: var(--small-margin);
}

.navList span a:hover {
  z-index: 1;
}


.navList span, .navList span a {
  color: var(--dark-blue);
  text-decoration: none;
}

.navList span:before {
  content: counter(small-step);
  font-size: 0.45em;
  display: inline-block;
  vertical-align: bottom;
  width: 1.9em;
  text-align: center;
  background-image: url('~./assets/dark-heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 54%;
  margin: 0 var(--small-margin) 0 0;
  color: var(--bg);
  background-color: var(--bg);
  z-index: 3;
}


.navList span:after {
  background-image: url('~./assets/sparkle.svg');
  background-size: cover;
  content:  '';
  position: absolute;
  top:  0px;
  left:  0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}

.navList span:hover:after {
  left: 2%;
  top:  -5%;
  opacity: 1;
  transition: left 3s, opacity 1s, top  3s;
}


.navList span:nth-child(even), .navList span:nth-child(even) a {
  color: var(--mid-blue);
}

.navList span:nth-child(even):before {
  background-image: url('~./assets/mid-heart.svg');
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

.frameOverlay {
  position: absolute;
  width: 104.5%;
  height: 104.5%;
  left: -2.25%;
  top: -2.25%;

}

.drawing {
  position: absolute;
  bottom: 0.35%;
  right: 0px;
  width: 75%;
}

.eyes {
  position: absolute;
  top: 6.25%;
  right: 36%;
  width: 11.25%;
  opacity: 1;
  user-select: none;
}

@media all and (max-width: 1200px) {
  .navList span:before {
    background-image: none;
    font-size: 1em;
    width: 0.225em;
    color: var(--dark-blue);
  }

  .navList span:nth-child(even):before {
    background-image: none;
    color: var(--mid-blue);
  }

  main {
    width:  100%;
    margin: 7em 0 0 0;  
  }



}