@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Work+Sans&display=swap');

:root {
  --mini-margin: 8px;
  --small-margin:  calc(var(--mini-margin) * 2);
  --big-margin: calc(var(--mini-margin) * 3);
  --dark-blue: #1257BF;
  --mid-blue: #5392CC;
  --dark-red: #D85858;
  --mid-red: #E08989;
  --bg: #FAF2E6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  font-size: min(calc(3px + 0.85vw), 16px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; 
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


